* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;   /* 10px de font-size */
}
body {
    background-color: #b8dafc;
}
header {
    display: flex;
    height: 8em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    background-color: rgb(127, 255, 212);
}
header ul {
    list-style: none;
    display: flex;
}
.normal-li {
    padding-inline: 1em;
    padding-bottom: 0.4em;
    font-size: 1.8em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 0.2em solid rgb(127, 255, 212);      /* rgb(127, 255, 212) */
    margin-inline: 0.3em;
}
.normal-li:hover {
    border-bottom: 0.2em solid #2422FF; /*  */
    transition: all 0.4s ease-in-out;
}
#logo {
    font-size: 2.2em;
    font-family: Arial, Helvetica, sans-serif;
}
.clickable-normal-text {
    color: #000;
    text-decoration: none;
}
#login {
    padding-inline: 1em;
    padding-bottom: 0.4em;
    font-size: 1.8em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0.5em;
    border: 0.2em solid #2422FF;
    border-radius: 1em;
    margin-inline: 0.3em;
}
#login:hover {
    border: 0.2em solid #7a78d3;
    transition: all 0.4s ease-in-out;
    color: #6b6868;
}

main {
    margin-inline: 10em;
}
#container {
    background-color: #fff;
    padding-bottom: 1em;
}
.scroll-horizontal-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.books-images {
    width: 20em;
    height: 24em;
    border-radius: 1em;
}
.horizontal-scroll-content {
    display: flex;
    overflow: hidden;           /* recorta o conteúdo que faz com que a div pudesse ultrapassar o seu tamanho e tira a barra de rolagem */
    scroll-behavior: smooth;    /* faz uma rolagem suave quando for feito isso junto com o JavaScript */
    width: calc(100% - 8em)     /* testar sem */
}

.book-element {
    width: 40rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-inline: 1rem;
    border: 1px solid #000;
    border-radius: 1em;
    flex: 0 0 auto;
}
.book-text-home{
    margin-left: 1.5rem;

}
.scroll-button {
    background-color: #c5c4c4;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    font-size: 2.2em;
    padding: 0.5em;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    right: 0;
    margin-left: 0.5em
}

footer {
    background-color: #8da4a4;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* @media(max-width: 700px) {

} */


#login-main {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}
#login-main:nth-child(n) {
    height: 200rem;
    width: 100rem;
}


form {
    display: flex;
}
fieldset {
    border: 1px solid #ccc;
    padding: 1.5rem;
    margin-bottom: 2rem;
}
legend {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 10px;
}
/* 
input {
    height: 1.5rem;
    width: 15rem;
} */
input, select, textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.4rem;
}
textarea {
    resize: none;
}

#login-submit-button, #register-button{
    height: 3rem;
    width: 9rem;
    padding: 0.2rem;
    border-radius: 2rem;
}
#register-literature-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    width: 600px;
    margin: 0 auto;
}
.form-columns {
    display: flex;
    justify-content: space-between;
}
#form-column-left, #form-column-right {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#register-button {
    height: 50px;
    width: 100px;
    padding: 0.75rem 1.5rem;
    font-size: 1.4rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#register-button:hover {
    background-color: #0056b3;
}
#register-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}


/* Responsividade */

@media(max-width: 768px) {
    .form-columns {
        flex-direction: column;
    }
}